<launch>

    <arg name="world_file" default="$(find tank_rocket)/worlds/map_2.world" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)" />
        <arg name="use_sim_time" value="true" />
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find tank_rocket)/urdf/xacro/master.xacro'" />


    <node name="gazebo_ros" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model tank_rocket -x 0 -y 0 -z 0.2" />


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>


    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

</launch>
